# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Notebooks
.ipynb_checkpoints/

# Editors/OS
.vscode/
.DS_Store
Thumbs.db

# Logs & env
*.log
.env
.env.*

# Azure local state
.azure/
.azureml/


config.json
